<!--Tin tức-->
<div class="tintuc">
<h2 align="center">Tin tức</h2>
<div class="container ">
    <div class="row">
        <!-- Thẻ 1 -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="view/ImagesOther/tintuc4.jpg" class="card-img-top" alt="Ảnh Card 1">
                <div class="card-body">
                    <h5 class="card-title">iPhone 15 Pro Có Mấy Màu? Màu Nào Mới Và Đẹp Nhất?</h5>
                    <p class="card-text">20/10/2023</p>
                </div>
            </div>
        </div>

        <!-- Thẻ 2 -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="view/ImagesOther/tintuc2.jpeg" class="card-img-top" alt="Ảnh Card 2">
                <div class="card-body">
                    <h5 class="card-title">Chip A17 Pro bứt phát hiệu suất, thách thức mọi game nặng!</h5>
                    <p class="card-text">19/10/2023</p>
                </div>
            </div>
        </div>

        <!-- Thẻ 3 -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="view/ImagesOther/tintuc3.jpg" class="card-img-top" alt="Ảnh Card 3">
                <div class="card-body">
                    <h5 class="card-title">Android 14 sẽ có các tính năng mà bạn nên khám phá nó ngay lập tức</h5>
                    <p class="card-text">20/10/2023</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>